<!DOCTYPE html>
<html>

<head>
    <title>EMPLOYEE PAYROLL</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="page-wrapper">

        <div class="dashboard-header">
            <h2>Employee Details</h2>

            <div class="header-actions">
                <div class="search-box">
                    🔍
                </div>

                <a href="/add">
                    <button class="add-user-btn">
                        + Add User
                    </button>
                </a>
            </div>
        </div>


        <div class="table-card">

            <table class="employee-table">

                <thead>
                    <tr>
                        <th>PROFILE</th>
                        <th>NAME</th>
                        <th>DEPARTMENT</th>
                        <th>SALARY</th>
                        <th>TAX (12%)</th>
                        <th>NET SALARY</th>
                        <th>START DATE</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>

                <tbody>

                    <% employees.forEach(emp=> {
                        const tax = emp.salary * 0.12;
                        const net = emp.salary - tax;
                        %>

                        <tr>

                            <td>
                                <div class="profile-circle">
                                    <img src="/images/<%= emp.profile === '1' ? 'maleicon.png' : 'femaleicon.png' %>"
                                        alt="">
                                </div>
                            </td>

                            <td>
                                <%= emp.name %>
                            </td>

                            <td>
                                <%= emp.department %>
                            </td>

                            <td>₹ <%= emp.salary %>
                            </td>

                            <td>₹ <%= (emp.salary * 0.12).toFixed(0) %>
                            </td>

                            <td>₹ <%= (emp.salary - emp.salary * 0.12).toFixed(0) %>
                            </td>

                            <td>
                                <%= emp.startDate || "-" %>
                            </td>

                            <td class="action-icons">
                                <a href="/edit/<%= emp.id %>">✏️</a>
                                <a href="/delete/<%= emp.id %>">🗑️</a>
                            </td>

                        </tr>

                        <% }) %>

                </tbody>

            </table>

        </div>

    </div>

</body>

</html>